<body>
  <div class="intro">
    <h1>Premier Lawn Maintenance <br/>Services</h1>
  </div>

  <div class="professional">
    <div class="services-intro"></div>
    <div class="service-card">
      <img src=""></img>
      <h3></h3>
      <p></p>
      <a href=""><p></p></a>
    </div>
    <div class="service-card">
      <img src=""></img>
      <h3></h3>
      <p></p>
      <a href=""><p></p></a>
    </div>
    <div class="service-card">
      <img src=""></img>
      <h3></h3>
      <p></p>
      <a href=""><p></p></a>
    </div>
  </div>
</body>
