.intro {
  background-image: url("../images/lawnmowing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro h1 {
  color: #fff;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}
